<div>
  <a routerLink="">Search</a>
</div>
<div class="outputImg">
  <div *ngFor="let item of favorites" class="outputImg__item">
    <a href="{{item.largeImageURL}}" download target="_blank">
      <img src="{{item.largeImageURL}}" alt="{{item.user}}" title="{{item.user}}" class="outputImg__item__img">
    </a>
      
    <div class="outputImg__item__infoImg">
      <p>Author: <a href="https://pixabay.com/ru/users/{{item.user}}-{{item.user_id}}/"
          target="_blank">{{item.user}}</a></p>
    </div>
  </div>
</div>
